blockquote {
  overflow-x: auto;
}

code, kbd, pre, samp {
  font-family: monospace;
}

pre {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.navbar {
  padding: 0.5rem 0;
}

.category-list,
.tag-list,
.archive-list,
.post-list {
  list-style: none;
  padding: 0;
}

.category-list-count,
.tag-list-count,
.archive-list-count {
  margin-left: 0.3rem;
}

.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}

.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}

.scroll-to-top {
  position: fixed;
  bottom: 4.5rem;
  right: 0;
}
